.ovenDropdown {
    background-color: #9D312D;
    

}

.ovenDropdownElement {
    font-family: Arial, Helvetica, sans-serif;
    color: white;   

}

.ovenTypePic {
    padding-top: 5%;
    padding-bottom: 5%;

}

